# ETL Pipeline

This is a guide explaining the step-by-step approach to which the pipeline was built.

### Step 1: Extracting the data

This involves using the pandas read excel method in order to load our excel data into a pandas dataframe which we would use to carry out transformations on the data.

In [134]:
import pandas as pd

In [179]:
df = pd.read_excel("employees_db.xlsx")
df

,ID,First Name,Last Name,Phone,Email,Department,Address,Country,Contract Type,Gender,Date of Birth,Place of Birth,Emergency Contact ID
0,1,Bernard,Monono,249-314-8464x78504,greenelisa@taylor.com,Media,Buea,Cameroon,Full-time,M,1996-03-14,Cameroon,1023
1,2,Leonard,Kapcheu,001-026-940-4742x421,estradaduane@gmail.com,Media,Buea,Cameroon,Full-time,M,1996-07-23,Cameroon,1024
2,3,Arnold,Njebaye,483-425-8747x024,georgecharles@ibarra.net,IT,Limbe,Cameroon,Part-time,M,1996-11-10,Cameroon,1025
3,4,Xavier,Mayowe,(148)357-6809,montoyazachary@hotmail.com,IT,Douala,Cameroon,Full-time,M,1997-01-05,Cameroon,1026
4,5,Francis,Suh,+1-934-130-9265x7704,aliciamiles@hotmail.com,IT,Douala,Cameroon,Full-time,M,1997-05-17,Cameroon,1027
5,6,Renauld,Enow,667777777,jason55@silva.org,Data,Douala,Cameroon,Full-time,M,1997-09-30,Cameroon,1028
6,7,Cecilia,Wuvaiilla,755.065.7576,wtaylor@patterson.com,Data,Buea,Cameroon,Part-time,F,1998-02-28,Cameroon,1029
7,8,John,Chick,(220)947-2179x0882,ronald52@williams-diaz.com,Data,Buea,Cameroon,Full-time,M,1998-06-12,Cameroon,1030
8,9,Esther,Mekane,(063)565-1128x34128,tashacoleman@wilson-arroyo.net,Media,Yaounde,Cameroon,Full-time,F,1998-10-25,Cameroon,1031
9,10,Rudee,Livita,903-560-2517x617,andrew30@hotmail.com,Arts and Storytelling,Yaounde,Cameroon,Full-time,F,1999-04-03,Cameroon,1032
10,11,Estelle,Atabong,001-507-985-1908,moorepamela@miller.com,Arts and Storytelling,Bamenda,Cameroon,Full-time,F,1999-08-19,Cameroon,1033
11,12,Magarette,Agendia,(177)748-2382x16014,sheilawood@hotmail.com,IT,Bafoussam,Cameroon,Part-time,F,1999-12-07,Cameroon,1034
12,9,Esther,Mekane,(063)565-1128x34128,tashacoleman@wilson-arroyo.net,Media,Yaounde,Cameroon,Full-time,F,1998-10-25,Cameroon,1031
13,10,Rudee,Livita,903-560-2517x617,andrew30@hotmail.com,Arts and Storytelling,Yaounde,Cameroon,Full-time,F,1999-04-03,Cameroon,1032
14,15,Edson,Lee,625.599.6027x1810,william70@yahoo.com,Arts and Storytelling,Hong Kong,China,Full-time,M,2000-11-02,China,1037
15,16,Eddy,Kingston,001-883-960-3461x992,rodriguezdaniel@lozano.com,IT,New York,USA,Full-time,M,2001-01-18,USA,1038
16,17,Prince,Wotany,+1-554-063-3340x60624,anna62@small-cabrera.net,IT,Buea,Cameroon,Full-time,M,2001-05-30,Cameroon,1039
17,18,Regina,Kodjo,385-267-7200x6417,valerieturner@yahoo.com,Data,Accra,Ghana,Full-time,F,2001-09-14,Ghana,1040
18,19,Nancy,Nana,344.777.1248,douglas23@gmail.com,Finance,Accra,Ghana,Part-time,F,2002-02-05,Ghana,1041
19,20,Cathy,Helen,371.766.5543x26145,james57@byrd-montgomery.info,Finance,New York,USA,Full-time,F,2002-06-27,USA,1042
20,21,Henry,Smith,001-679-833-4075x599,ihawkins@harris.com,Marketing,New York,USA,Full-time,M,2002-10-11,USA,1043
21,22,Angelbert,Buddylawson,404-934-4288x547,benjamin32@anderson.com,Marketing,Limbe,Cameroon,Part-time,M,2003-03-09,Cameroon,1044
22,23,Minnette,Oben,(196)702-2189x50882,bartondiana@hotmail.com,Finance,Limbe,Cameroon,Full-time,F,2003-07-20,Cameroon,1045
23,24,Dehlia,Owens,787.058.3313,taylor12@yahoo.com,Marketing,Lagos,Nigeria,Full-time,F,2003-11-18,Nigeria,1046
24,25,Shawn,Michaels,(286)792-3780x568,laura40@hotmail.com,Data,Lagos,Nigeria,Part-time,M,2004-04-14,Nigeria,1047
25,26,Hilda,Mivandje,7921855040,ericjones@hotmail.com,Data,Douala,Cameroon,Full-time,F,2004-08-30,Cameroon,1048
26,27,Adam,Nkot,(071)556-2873x521,nsavage@yahoo.com,IT,Yaounde,Cameroon,Freelance,M,2005-12-21,Cameroon,1049
27,23,Minnette,Oben,(196)702-2189x50882,bartondiana@hotmail.com,Finance,Limbe,Cameroon,Full-time,F,2003-07-20,Cameroon,1045
28,24,Dehlia,Owens,787.058.3313,taylor12@yahoo.com,Marketing,Lagos,Nigeria,Full-time,F,2003-11-18,Nigeria,1046

Verify the intitial shape of the data (number of rows and number of columns)

In [136]:
df.shape

(29, 13)

### Step 2: Transforming the data

Now that we have successfully extracted the data, step 1 of our ETL is done. We will now carry out the necessary transformations, such as:
1. Removing duplicate rows
2. Verifying and assigning the right data types to our columns
2. Renaming columns
3. Dropping irrelevant columns
4. Creating new columns based on data from already existing data

1. *Drop duplicates*

We see here that after duplicate rows have been dropped, the shape of our Employees dataset has changed. it now contains 25 rows, unlike before where it had 29 rows of data.

In [181]:
df = df.drop_duplicates("ID", keep="first")
df.shape

(25, 13)

2. _Drop unncessary columns_

As per the need of our end users (data analysts and BI analysts), we would be dropping te columns `Place of Birth`, `Phone`, `Email` and `Emergency Contact ID` as these won't be necessary for their analyses.

In [182]:
columns_to_drop = ["Place of Birth", "Emergency Contact ID", "Email", "Phone"]
df = df.drop(columns=columns_to_drop)
df

,ID,First Name,Last Name,Department,Address,Country,Contract Type,Gender,Date of Birth
0,1,Bernard,Monono,Media,Buea,Cameroon,Full-time,M,1996-03-14
1,2,Leonard,Kapcheu,Media,Buea,Cameroon,Full-time,M,1996-07-23
2,3,Arnold,Njebaye,IT,Limbe,Cameroon,Part-time,M,1996-11-10
3,4,Xavier,Mayowe,IT,Douala,Cameroon,Full-time,M,1997-01-05
4,5,Francis,Suh,IT,Douala,Cameroon,Full-time,M,1997-05-17
5,6,Renauld,Enow,Data,Douala,Cameroon,Full-time,M,1997-09-30
6,7,Cecilia,Wuvaiilla,Data,Buea,Cameroon,Part-time,F,1998-02-28
7,8,John,Chick,Data,Buea,Cameroon,Full-time,M,1998-06-12
8,9,Esther,Mekane,Media,Yaounde,Cameroon,Full-time,F,1998-10-25
9,10,Rudee,Livita,Arts and Storytelling,Yaounde,Cameroon,Full-time,F,1999-04-03
10,11,Estelle,Atabong,Arts and Storytelling,Bamenda,Cameroon,Full-time,F,1999-08-19
11,12,Magarette,Agendia,IT,Bafoussam,Cameroon,Part-time,F,1999-12-07
14,15,Edson,Lee,Arts and Storytelling,Hong Kong,China,Full-time,M,2000-11-02
15,16,Eddy,Kingston,IT,New York,USA,Full-time,M,2001-01-18
16,17,Prince,Wotany,IT,Buea,Cameroon,Full-time,M,2001-05-30
17,18,Regina,Kodjo,Data,Accra,Ghana,Full-time,F,2001-09-14
18,19,Nancy,Nana,Finance,Accra,Ghana,Part-time,F,2002-02-05
19,20,Cathy,Helen,Finance,New York,USA,Full-time,F,2002-06-27
20,21,Henry,Smith,Marketing,New York,USA,Full-time,M,2002-10-11
21,22,Angelbert,Buddylawson,Marketing,Limbe,Cameroon,Part-time,M,2003-03-09
22,23,Minnette,Oben,Finance,Limbe,Cameroon,Full-time,F,2003-07-20
23,24,Dehlia,Owens,Marketing,Lagos,Nigeria,Full-time,F,2003-11-18
24,25,Shawn,Michaels,Data,Lagos,Nigeria,Part-time,M,2004-04-14
25,26,Hilda,Mivandje,Data,Douala,Cameroon,Full-time,F,2004-08-30
26,27,Adam,Nkot,IT,Yaounde,Cameroon,Freelance,M,2005-12-21

Verifying that these columns have been dropped, we now see that the shape of the dataframe has changed. We are now 2 columns less.

In [139]:
df.shape

(25, 9)

3. _Creating new column_

The aim here is getting the number of hours the employee clocks based on their type of contract.

In [186]:
def set_hours(contract_type: str) -> int:
    if contract_type == "Full-time":
        return 40
    elif contract_type == "Part-time":
        return 20
    else:
        return 0

In [187]:
df["Work Hours"] = df["Contract Type"].apply(set_hours)
df

,ID,First Name,Last Name,Department,Address,Country,Contract Type,Gender,Date of Birth,Work Hours
0,1,Bernard,Monono,Media,Buea,Cameroon,Full-time,M,1996-03-14,40
1,2,Leonard,Kapcheu,Media,Buea,Cameroon,Full-time,M,1996-07-23,40
2,3,Arnold,Njebaye,IT,Limbe,Cameroon,Part-time,M,1996-11-10,20
3,4,Xavier,Mayowe,IT,Douala,Cameroon,Full-time,M,1997-01-05,40
4,5,Francis,Suh,IT,Douala,Cameroon,Full-time,M,1997-05-17,40
5,6,Renauld,Enow,Data,Douala,Cameroon,Full-time,M,1997-09-30,40
6,7,Cecilia,Wuvaiilla,Data,Buea,Cameroon,Part-time,F,1998-02-28,20
7,8,John,Chick,Data,Buea,Cameroon,Full-time,M,1998-06-12,40
8,9,Esther,Mekane,Media,Yaounde,Cameroon,Full-time,F,1998-10-25,40
9,10,Rudee,Livita,Arts and Storytelling,Yaounde,Cameroon,Full-time,F,1999-04-03,40
10,11,Estelle,Atabong,Arts and Storytelling,Bamenda,Cameroon,Full-time,F,1999-08-19,40
11,12,Magarette,Agendia,IT,Bafoussam,Cameroon,Part-time,F,1999-12-07,20
14,15,Edson,Lee,Arts and Storytelling,Hong Kong,China,Full-time,M,2000-11-02,40
15,16,Eddy,Kingston,IT,New York,USA,Full-time,M,2001-01-18,40
16,17,Prince,Wotany,IT,Buea,Cameroon,Full-time,M,2001-05-30,40
17,18,Regina,Kodjo,Data,Accra,Ghana,Full-time,F,2001-09-14,40
18,19,Nancy,Nana,Finance,Accra,Ghana,Part-time,F,2002-02-05,20
19,20,Cathy,Helen,Finance,New York,USA,Full-time,F,2002-06-27,40
20,21,Henry,Smith,Marketing,New York,USA,Full-time,M,2002-10-11,40
21,22,Angelbert,Buddylawson,Marketing,Limbe,Cameroon,Part-time,M,2003-03-09,20
22,23,Minnette,Oben,Finance,Limbe,Cameroon,Full-time,F,2003-07-20,40
23,24,Dehlia,Owens,Marketing,Lagos,Nigeria,Full-time,F,2003-11-18,40
24,25,Shawn,Michaels,Data,Lagos,Nigeria,Part-time,M,2004-04-14,20
25,26,Hilda,Mivandje,Data,Douala,Cameroon,Full-time,F,2004-08-30,40
26,27,Adam,Nkot,IT,Yaounde,Cameroon,Freelance,M,2005-12-21,0

Next up, we'd be creating another column still based on data from another column. In this case, we want to get the following:
- Employees age based on date of birth
- Employees month of birth to make it easier to have joint celebrations for all those who were born in the same month ;-)

a. Get age from date of birth

In [188]:
from datetime import datetime
def calculate_age(date_of_birth: datetime) -> int:
    """
    Gets the age of an employee given their date of birth
    :param date_of_birth: The employee's date of birth
    :return: Employee's age
    """
    today = datetime.today()
    return today.year - date_of_birth.year

In [189]:
df["Age"] = df["Date of Birth"].apply(calculate_age)
df

,ID,First Name,Last Name,Department,Address,Country,Contract Type,Gender,Date of Birth,Work Hours,Age
0,1,Bernard,Monono,Media,Buea,Cameroon,Full-time,M,1996-03-14,40,28
1,2,Leonard,Kapcheu,Media,Buea,Cameroon,Full-time,M,1996-07-23,40,28
2,3,Arnold,Njebaye,IT,Limbe,Cameroon,Part-time,M,1996-11-10,20,28
3,4,Xavier,Mayowe,IT,Douala,Cameroon,Full-time,M,1997-01-05,40,27
4,5,Francis,Suh,IT,Douala,Cameroon,Full-time,M,1997-05-17,40,27
5,6,Renauld,Enow,Data,Douala,Cameroon,Full-time,M,1997-09-30,40,27
6,7,Cecilia,Wuvaiilla,Data,Buea,Cameroon,Part-time,F,1998-02-28,20,26
7,8,John,Chick,Data,Buea,Cameroon,Full-time,M,1998-06-12,40,26
8,9,Esther,Mekane,Media,Yaounde,Cameroon,Full-time,F,1998-10-25,40,26
9,10,Rudee,Livita,Arts and Storytelling,Yaounde,Cameroon,Full-time,F,1999-04-03,40,25
10,11,Estelle,Atabong,Arts and Storytelling,Bamenda,Cameroon,Full-time,F,1999-08-19,40,25
11,12,Magarette,Agendia,IT,Bafoussam,Cameroon,Part-time,F,1999-12-07,20,25
14,15,Edson,Lee,Arts and Storytelling,Hong Kong,China,Full-time,M,2000-11-02,40,24
15,16,Eddy,Kingston,IT,New York,USA,Full-time,M,2001-01-18,40,23
16,17,Prince,Wotany,IT,Buea,Cameroon,Full-time,M,2001-05-30,40,23
17,18,Regina,Kodjo,Data,Accra,Ghana,Full-time,F,2001-09-14,40,23
18,19,Nancy,Nana,Finance,Accra,Ghana,Part-time,F,2002-02-05,20,22
19,20,Cathy,Helen,Finance,New York,USA,Full-time,F,2002-06-27,40,22
20,21,Henry,Smith,Marketing,New York,USA,Full-time,M,2002-10-11,40,22
21,22,Angelbert,Buddylawson,Marketing,Limbe,Cameroon,Part-time,M,2003-03-09,20,21
22,23,Minnette,Oben,Finance,Limbe,Cameroon,Full-time,F,2003-07-20,40,21
23,24,Dehlia,Owens,Marketing,Lagos,Nigeria,Full-time,F,2003-11-18,40,21
24,25,Shawn,Michaels,Data,Lagos,Nigeria,Part-time,M,2004-04-14,20,20
25,26,Hilda,Mivandje,Data,Douala,Cameroon,Full-time,F,2004-08-30,40,20
26,27,Adam,Nkot,IT,Yaounde,Cameroon,Freelance,M,2005-12-21,0,19

b. Get month from date of birth

In [190]:
df["Month of Birth"] = df["Date of Birth"].dt.month_name()
df

,ID,First Name,Last Name,Department,Address,Country,Contract Type,Gender,Date of Birth,Work Hours,Age,Month of Birth
0,1,Bernard,Monono,Media,Buea,Cameroon,Full-time,M,1996-03-14,40,28,March
1,2,Leonard,Kapcheu,Media,Buea,Cameroon,Full-time,M,1996-07-23,40,28,July
2,3,Arnold,Njebaye,IT,Limbe,Cameroon,Part-time,M,1996-11-10,20,28,November
3,4,Xavier,Mayowe,IT,Douala,Cameroon,Full-time,M,1997-01-05,40,27,January
4,5,Francis,Suh,IT,Douala,Cameroon,Full-time,M,1997-05-17,40,27,May
5,6,Renauld,Enow,Data,Douala,Cameroon,Full-time,M,1997-09-30,40,27,September
6,7,Cecilia,Wuvaiilla,Data,Buea,Cameroon,Part-time,F,1998-02-28,20,26,February
7,8,John,Chick,Data,Buea,Cameroon,Full-time,M,1998-06-12,40,26,June
8,9,Esther,Mekane,Media,Yaounde,Cameroon,Full-time,F,1998-10-25,40,26,October
9,10,Rudee,Livita,Arts and Storytelling,Yaounde,Cameroon,Full-time,F,1999-04-03,40,25,April
10,11,Estelle,Atabong,Arts and Storytelling,Bamenda,Cameroon,Full-time,F,1999-08-19,40,25,August
11,12,Magarette,Agendia,IT,Bafoussam,Cameroon,Part-time,F,1999-12-07,20,25,December
14,15,Edson,Lee,Arts and Storytelling,Hong Kong,China,Full-time,M,2000-11-02,40,24,November
15,16,Eddy,Kingston,IT,New York,USA,Full-time,M,2001-01-18,40,23,January
16,17,Prince,Wotany,IT,Buea,Cameroon,Full-time,M,2001-05-30,40,23,May
17,18,Regina,Kodjo,Data,Accra,Ghana,Full-time,F,2001-09-14,40,23,September
18,19,Nancy,Nana,Finance,Accra,Ghana,Part-time,F,2002-02-05,20,22,February
19,20,Cathy,Helen,Finance,New York,USA,Full-time,F,2002-06-27,40,22,June
20,21,Henry,Smith,Marketing,New York,USA,Full-time,M,2002-10-11,40,22,October
21,22,Angelbert,Buddylawson,Marketing,Limbe,Cameroon,Part-time,M,2003-03-09,20,21,March
22,23,Minnette,Oben,Finance,Limbe,Cameroon,Full-time,F,2003-07-20,40,21,July
23,24,Dehlia,Owens,Marketing,Lagos,Nigeria,Full-time,F,2003-11-18,40,21,November
24,25,Shawn,Michaels,Data,Lagos,Nigeria,Part-time,M,2004-04-14,20,20,April
25,26,Hilda,Mivandje,Data,Douala,Cameroon,Full-time,F,2004-08-30,40,20,August
26,27,Adam,Nkot,IT,Yaounde,Cameroon,Freelance,M,2005-12-21,0,19,December

4. _Renaming Columns_

A dataset is more understandable when it has meaningful column names. In this dataset, we have a column name which isn't quite the best. We will be renaming it to best reflect the kind of data it contains.

In [191]:
df.rename(columns={"Address": "City"}, inplace=True)
df

,ID,First Name,Last Name,Department,City,Country,Contract Type,Gender,Date of Birth,Work Hours,Age,Month of Birth
0,1,Bernard,Monono,Media,Buea,Cameroon,Full-time,M,1996-03-14,40,28,March
1,2,Leonard,Kapcheu,Media,Buea,Cameroon,Full-time,M,1996-07-23,40,28,July
2,3,Arnold,Njebaye,IT,Limbe,Cameroon,Part-time,M,1996-11-10,20,28,November
3,4,Xavier,Mayowe,IT,Douala,Cameroon,Full-time,M,1997-01-05,40,27,January
4,5,Francis,Suh,IT,Douala,Cameroon,Full-time,M,1997-05-17,40,27,May
5,6,Renauld,Enow,Data,Douala,Cameroon,Full-time,M,1997-09-30,40,27,September
6,7,Cecilia,Wuvaiilla,Data,Buea,Cameroon,Part-time,F,1998-02-28,20,26,February
7,8,John,Chick,Data,Buea,Cameroon,Full-time,M,1998-06-12,40,26,June
8,9,Esther,Mekane,Media,Yaounde,Cameroon,Full-time,F,1998-10-25,40,26,October
9,10,Rudee,Livita,Arts and Storytelling,Yaounde,Cameroon,Full-time,F,1999-04-03,40,25,April
10,11,Estelle,Atabong,Arts and Storytelling,Bamenda,Cameroon,Full-time,F,1999-08-19,40,25,August
11,12,Magarette,Agendia,IT,Bafoussam,Cameroon,Part-time,F,1999-12-07,20,25,December
14,15,Edson,Lee,Arts and Storytelling,Hong Kong,China,Full-time,M,2000-11-02,40,24,November
15,16,Eddy,Kingston,IT,New York,USA,Full-time,M,2001-01-18,40,23,January
16,17,Prince,Wotany,IT,Buea,Cameroon,Full-time,M,2001-05-30,40,23,May
17,18,Regina,Kodjo,Data,Accra,Ghana,Full-time,F,2001-09-14,40,23,September
18,19,Nancy,Nana,Finance,Accra,Ghana,Part-time,F,2002-02-05,20,22,February
19,20,Cathy,Helen,Finance,New York,USA,Full-time,F,2002-06-27,40,22,June
20,21,Henry,Smith,Marketing,New York,USA,Full-time,M,2002-10-11,40,22,October
21,22,Angelbert,Buddylawson,Marketing,Limbe,Cameroon,Part-time,M,2003-03-09,20,21,March
22,23,Minnette,Oben,Finance,Limbe,Cameroon,Full-time,F,2003-07-20,40,21,July
23,24,Dehlia,Owens,Marketing,Lagos,Nigeria,Full-time,F,2003-11-18,40,21,November
24,25,Shawn,Michaels,Data,Lagos,Nigeria,Part-time,M,2004-04-14,20,20,April
25,26,Hilda,Mivandje,Data,Douala,Cameroon,Full-time,F,2004-08-30,40,20,August
26,27,Adam,Nkot,IT,Yaounde,Cameroon,Freelance,M,2005-12-21,0,19,December

5. _Replace Data in Cells_

Again, as per the need of our end users, abbreviations are not needed within the dataset. Therefore, we would be replacing:
- IT with Information Technonlogy and
- USA with United States of America

In [192]:
df.replace("IT", "Information Technology", inplace=True)
df.replace("USA", "United States of America", inplace=True)
df

,ID,First Name,Last Name,Department,City,Country,Contract Type,Gender,Date of Birth,Work Hours,Age,Month of Birth
0,1,Bernard,Monono,Media,Buea,Cameroon,Full-time,M,1996-03-14,40,28,March
1,2,Leonard,Kapcheu,Media,Buea,Cameroon,Full-time,M,1996-07-23,40,28,July
2,3,Arnold,Njebaye,Information Technology,Limbe,Cameroon,Part-time,M,1996-11-10,20,28,November
3,4,Xavier,Mayowe,Information Technology,Douala,Cameroon,Full-time,M,1997-01-05,40,27,January
4,5,Francis,Suh,Information Technology,Douala,Cameroon,Full-time,M,1997-05-17,40,27,May
5,6,Renauld,Enow,Data,Douala,Cameroon,Full-time,M,1997-09-30,40,27,September
6,7,Cecilia,Wuvaiilla,Data,Buea,Cameroon,Part-time,F,1998-02-28,20,26,February
7,8,John,Chick,Data,Buea,Cameroon,Full-time,M,1998-06-12,40,26,June
8,9,Esther,Mekane,Media,Yaounde,Cameroon,Full-time,F,1998-10-25,40,26,October
9,10,Rudee,Livita,Arts and Storytelling,Yaounde,Cameroon,Full-time,F,1999-04-03,40,25,April
10,11,Estelle,Atabong,Arts and Storytelling,Bamenda,Cameroon,Full-time,F,1999-08-19,40,25,August
11,12,Magarette,Agendia,Information Technology,Bafoussam,Cameroon,Part-time,F,1999-12-07,20,25,December
14,15,Edson,Lee,Arts and Storytelling,Hong Kong,China,Full-time,M,2000-11-02,40,24,November
15,16,Eddy,Kingston,Information Technology,New York,United States of America,Full-time,M,2001-01-18,40,23,January
16,17,Prince,Wotany,Information Technology,Buea,Cameroon,Full-time,M,2001-05-30,40,23,May
17,18,Regina,Kodjo,Data,Accra,Ghana,Full-time,F,2001-09-14,40,23,September
18,19,Nancy,Nana,Finance,Accra,Ghana,Part-time,F,2002-02-05,20,22,February
19,20,Cathy,Helen,Finance,New York,United States of America,Full-time,F,2002-06-27,40,22,June
20,21,Henry,Smith,Marketing,New York,United States of America,Full-time,M,2002-10-11,40,22,October
21,22,Angelbert,Buddylawson,Marketing,Limbe,Cameroon,Part-time,M,2003-03-09,20,21,March
22,23,Minnette,Oben,Finance,Limbe,Cameroon,Full-time,F,2003-07-20,40,21,July
23,24,Dehlia,Owens,Marketing,Lagos,Nigeria,Full-time,F,2003-11-18,40,21,November
24,25,Shawn,Michaels,Data,Lagos,Nigeria,Part-time,M,2004-04-14,20,20,April
25,26,Hilda,Mivandje,Data,Douala,Cameroon,Full-time,F,2004-08-30,40,20,August
26,27,Adam,Nkot,Information Technology,Yaounde,Cameroon,Freelance,M,2005-12-21,0,19,December

6. _Data Validation_: Changing Data Types as Data Validation

We would check that our columns are of the right data types and otherwise assign them the right data type if they do not. Verifying as seen below, the data types of the columns aren't very correct. So we're going to have to do some modifications.

In [193]:
df.dtypes

ID                         int64
First Name                object
Last Name                 object
Department                object
City                      object
Country                   object
Contract Type             object
Gender                    object
Date of Birth     datetime64[ns]
Work Hours                 int64
Age                        int64
Month of Birth            object
dtype: object

By default, strings come as object data types in Pandas, and usually, most people tend to leave it alone but I do not advise this as strings and objects are different. Objects are general-purpose data types that hold any kind of data (python object). However, Pandas now comes with the `string` or `StringDtype` for better handling of string data. Hence, all objects here which are strings but had the type `object` have been explicitly converted to strings.

Following that is categorical data which can either be nominal(categories that do not have a specific order or ranking) or ordinal(categories that have meaningful order or ranking.) In our case, all the categorical data are nominal.

In [194]:
df["First Name"] = df["First Name"].astype(str)
df["Last Name"] = df["Last Name"].astype(str)
df["Department"] = df["Department"].astype(str)
df["City"] = df["City"].astype("category")
df["Country"] = df["Country"].astype("category")
df["Contract Type"] = df["Contract Type"].astype("category")
df["Gender"] = df["Gender"].astype("category")
df["Month of Birth"] = df["Month of Birth"].astype(str)
df.dtypes

ID                         int64
First Name                object
Last Name                 object
Department                object
City                    category
Country                 category
Contract Type           category
Gender                  category
Date of Birth     datetime64[ns]
Work Hours                 int64
Age                        int64
Month of Birth            object
dtype: object

### Step 3: Load the Data

Now that we have done the extraction and transformation, next, we need to load the transformed data into the destination source for our end users to consume. In this case, a data warehouse.